page-login {
    @keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }
    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translate3d(100%, 0, 0);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    text-align: center;
    .text-input{
        text-align: center;
    }
    input::-webkit-input-placeholder {
        font-size: 15px;
    }
    .item { 
        height: 50px; 
        font-family: 'Lato_Regular', sans-serif;
        font-size: 15px;
    }
    .item-select{
        border-bottom: 0.55px solid #c8c7cc;
        height: 100%;
        width: 60%;
    }
    .custom_header{ 
        position:relative; width:100%; 
        height:250px; 
        background:url("../assets/img/image.png"); 
        background-size:100% 100%; 
        background-repeat:no-repeat; 
        background-position: center center;
        
        .logo{ width:60%; margin-top:60px;}
        .closeBtn { color:white; position:absolute;left:10px; top:24px; background: transparent;}
        .custom_header .logo{ width:60%; margin-top:60px;}
    }
    .button-rows { 
        position:relative; 
        width:100%; 
        height:55px; 
        background:#171717 !important;

        .row{ 
            position:absolute; 
            bottom:0px; 
            border-top:1px solid #444;

            .col{padding: 0px;}
            .button{
                color:#aaa; background: transparent;
            }
            .active{ color:white;}
        }
        .arrow_row { 
            z-index:999; text-align:center; border:0px !important; margin-left:10px;
            .arrow{
                -ms-transform: rotate(45deg); 
                -webkit-transform: rotate(45deg);  
                transform: rotate(45deg); width:20px; height:20px; 
                background:white; margin-bottom:-20px; margin-left:40%;
            }
        }
    }
    .signup_form{
        animation-name: fadeInLeft;
        animation-duration: 0.2s;
        margin-top: 1.5em;
        img {
            height: 90px;
            width: 90px;
            border-radius:50%;
        }
        .select{
            max-width: 90% !important;
        }
        .signup_btn { font-size: 1em; border-radius:20px; color:#333; border-color:#333;height: 50px;}
        .fb_btn { font-size: 1em; border-radius:20px; background:#3e549c;height: 50px;}
    }
    .signin_form {
        animation-name: fadeInRight;
        animation-duration: 0.2s;
        .sign_btn{ color: black; font-size: 1em; width: 80%; border-radius:20px;height: 50px;}
        .fb_btn{ color:white; font-size: 1em; width: 80%; border-radius:20px; background:#3e549c;height: 50px;}
    }
    .bottom-item {
        position: absolute;
        bottom: 0px;
    }
    @media only screen and (max-width: 330px) {
       .bottom-item {
            position: relative;
        }
    }
}
