<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      <img src="assets/img/Logo1.png" class="logo1"/>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="photos_content ">
  <div class="padding text-center lightfont" style="color:#666; font-size:2em; line-height:40px; text-align: center; font-weight:bold;">{{selectedGallery.title}}</div>
  <div class="text-center lightfont" style="color:#666; width:100%; padding-bottom:10px; font-size:1.4em; text-align: center;" >{{selectedGallery.eventDate}}</div>
  <div class="img_block" *ngFor="let item of photoTileList; let i = index" (click)="showPhotoDetail(i)">
    <!--<img src="{{item.filename}}" (click)="showPhotoDetail($index)">-->
    <img src="{{item.filename}}" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
    <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
  </div>
</ion-content>
