<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      <img src="assets/img/Logo1.png" class="logo1"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
</ion-content>


<ion-content class="upcomming_content has-custom-header" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" style="padding-top:30px;">
  <div class="subheader_area">
    <ion-row class="row calender_row">
      <ion-col width-14 class="col-14" *ngFor="let dayOfWeek of calendar_list">{{dayOfWeek.dayOfWeek}}</ion-col>
    </ion-row>
    <ion-row class="row calender_date_row">
      <ion-col width-14 class="col-14" *ngFor="let day of calendar_list">
        <span class="active" *ngIf="activeDate.timestamp == day.timestamp">{{day.dayNum}}</span>
        <span *ngIf="activeDate.timestamp !== day.timestamp" (click)="changeDate(day)">{{day.dayNum}}</span>
      </ion-col>
    </ion-row>
  </div>
  <div (swipe)="swipeEvent($event)" style="width:100%; height:100%">
    <div *ngFor="let item of eventTileList">
      <div class="img_block" *ngIf="(item.timestamp > activeDate.timestamp) && (item.timestamp < activeNextDate.timestamp)"  (click)="goDetail(item)">
          <img src="{{item.imageThumbURL}}" >
      </div>
    </div>
  </div>
</ion-content>