<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      <img src="assets/img/Logo1.png" class="logo1"/>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="photos_content ">
  <div class="padding text-center lightfont" style="color:#666; font-size:2em; text-align: center; line-height:40px;">Recent Photos</div>
  <div class="img_block" *ngFor="let item of eventTileList">
    <!--<img image-lazy-src="{{item.cover}}" image-lazy-loader="lines" ng-click="goPhotoGallery(item)">-->
    <img src="{{item.cover}}" (load)="loaded = true" (click)="goPhotoGallery(item)" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
    <ion-spinner name="bubbles" [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>
  </div>
</ion-content>
