page-change-password {
    .border {
        border: solid;
        border-width: 1px;
        border-color: #c7c4c4;
    }
    .margin-16 {
        margin-left: 16px;
        margin-right: 16px;
    }
    .item {padding-left: 16px; }
    .text-input { margin: 0px !important; }
    .button { width: 80%; margin-left: 10%; margin-right: 10%; }
}
