<ion-menu id="leftMenu" [content]="content">

  <ion-content class="menu_content">
	<button class="item user-profile" menu-close (click)="goProfile()">
		<!--<img src="{{currentUser.photo}}"  *ngIf="!loginAsGuest"/><br>-->
		<div class="img-user" [ngStyle]="{'background': 'url(' + currentUser.photo + ')'}"></div>
		<div class="name"  *ngIf="!loginAsGuest">{{currentUser.name}}</div>
	</button>
    <ion-list no-lines>
      <button menuClose ion-item detail-none *ngFor="let p of nativePages" (click)="openPage(p)">
		<ion-icon [name]="p.icon_name" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>