@font-face {
  font-family: "Lato_Light";
  src: url("../assets/font/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato_Regular";
  src: url("../assets/font/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato_Bold";
  src: url("../assets/font/Lato-Bold.ttf");
}

body, input, textarea {
	font-family: 'Lato_Regular', sans-serif;
}

body, .ionic-body{
  font-family: 'exo_light', sans-serif !important;
}

.tabs-item , h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato_Bold', sans-serif !important;
}

.button{
	font-family: 'Lato_Regular', sans-serif;
  font-size: 1.2em;
}

a { text-decoration: none; color: #333;}

img { max-width: 100%; height:auto; }
input {height: 40px; border: none; }
select { border: none; }

.title-md { text-align: center; margin-right: 40px;}

.no-padding { padding:0px; }
.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none;
}
.input-md {
  font-size: 20px !important;
  .text-input {
    margin-bottom: 0px;
  }
}
.item-md {
  .item-inner { border-bottom: 0px;}
}


.col-14 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 14.28%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 14.28%;
  -ms-flex: 0 0 14.28%;
  flex: 0 0 14.28%;
  max-width: 14.28%; }

.logo1 { height:35px; margin-top:5px; margin-left: 5px;}
.row { width: 100% }
.nav-icon {
  background: transparent;
  ion-icon {
    font-size: 30px;
    color: white;
  }
}
.img-loaded + ion-spinner {
  display:none;
}
.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.item {padding: 16px;}
.toast { text-align: center; }
.no-scroll {
  .scroll-content {
    overflow: hidden !important;
  }
}


.home_content{
	background:url("../assets/img/bg.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	text-align:center;
    color:white;
}

.home_content .logo{ width:85%; margin-top:15%;}
.home_content .login_btn { 
    width:70%; height: 3em; margin-top:10px; border-radius:20px; font-weight:bold; color:white !important; background: transparent; border-style: solid; border-color: #ddd; border-width: 1px;
}
.home_content .fb_btn{ background:#3e549c; border-width: 0px;}


.menu_content , .menu_content .item, .menu_content .item-content{ font-family: 'Lato_Regular', sans-serif !important;  background:black; color:white;}
.menu_content .item{ border:0px; text-align:left; margin-top:0px; padding-bottom: 8px; padding-top: 8px; }
.menu_content .activated { background-color: #2d776c;}
.menu_content .item .icon{ font-size:1.4em; color:white;}
.menu_content .user-profile{ text-align:center; color:white; font-weight: bold; width: 100% }
.menu_content .user-profile .img-user{ margin: auto; width: 120px; height: 120px; border-radius:50%; overflow: hidden; background-size: cover !important; margin-top:30px; margin-bottom: 10px; }
.menu_content .item-complex.item-icon-left .item-content { padding-left:60px;}

.home_slider .box{ border-radius:8px; margin-left:2px; width:98.5%; height:180px !important; background-size:100% auto; background-position: center; background-repeat:no-repeat;text-align:center;}
.home_slider img{ height:200px; }
.home_slider .slider-pager .slider-pager-page {color:white !important; }

.img_block { width:50%; padding-top:50% !important; float:left; padding:0px; position:relative; text-align:center; background-color: white;}
.img_block .img_rect{ position:absolute; top:1%; left:0px; width:98%; height:98%;  background-size:100% 100%; background-repeat:no-repeat; background-position: center center;}
.img_block img{ border-radius:8px; position:absolute; top:0px; left:0px;  padding:2px; padding-left:2px; padding-right:4px;}
.img_block .image-loader-container{ position:absolute;top:40%; left:40%;}

.has-custom-header {margin-top:30px;}
.subheader_area .calender_row {text-align:center;}
.subheader_area .calender_date_row {text-align:center; margin-top:0px; margin-bottom: 20px;}
.subheader_area .calender_date_row .col-14 span{ border-radius: 50%; padding:8px; padding-left:8px; padding-right:8px; }
.subheader_area .calender_date_row .col-14 .active{ background:#348c7f; color:white;}
.subheader_area .calender_date_row .col-14 .active1{ background:lightgray; }
.subheader_area .tab_row {text-align:center;}
.subheader_area .tab_row .button { border-radius: 20px; min-height:35px; height:35px; line-height:30px; width:100px;}

.photo-detail-header { background:#0c0b0e !important; text-align: center; }
.photo-detail-header ion-icon { font-size: 2em; color: #47b5a4; }
.photo-detail-header h1 { color: white; }
.photo-detail-header .button { color:#398c7f !important;}
.photo_detail_content{ background:#0c0b0e !important; }
.photo_detail_content .full-image{margin-top:30px; width: 100%; height: auto !important; }
.photo_detail_content h2{ color:#398c7f; text-align: center; font-size: 2rem; }
.photo_detail_content h4{ color:white; text-align: center; }
.photo_detail_content .text{ color:white; text-align: center; font-size: 1.8rem;}
.photo_detail_content .logo{ width:30%; position:absolute; right:0px;bottom:-15px;}
.photo_detail_content .slider-pager .slider-pager-page{ color:white;}

.browse_content .list .full-image { position:relative; margin-bottom:-1px;}
.browse_content .button-balanced {border-color: transparent;background-color: #348c7f;color: #fff; }
.browse_content .button-clear { background-color: white !important; color: #348c7f !important;}
.browse_content .list .full-image h2{ position:absolute; bottom:10px; color:white; right:20px;}

.previous-title img{ display:none;}

.setting_content a { color: #777; }
.setting_content .profile_img_area { width:100%; text-align:center; position:relative; }
.setting_content .profile_img_area .profile_img { width:120px; height:120px; border-radius:50%; margin-top:20px; margin-bottom:20px;}
.setting_content .profile_img_area .icon{font-size:4em; position:absolute; left:45%; top:50px; color:#f8df64; }
.setting_content .list .item-divider { padding-left: 16px; padding-right: 16px; padding-top: 0px; font-size: 0.9em; font-family: 'Lato_Bold', sans-serif !important; height:45px; line-height:30px; color:#777; font-weight:bold; background:white;}
.setting_content .list .item-input {border:0px; margin-top:2px; font-family: 'Lato_Light', sans-serif !important; padding-bottom: 0px;}
.setting_content .list .item-input .input-label {font-size:0.8em; margin-top:5px; color:#aaa; display: block; width: 30%; float: left; }
.setting_content .list .item-input input { margin-top:0px; text-align:right; font-size:1em; display: block; width: 70%; }
.setting_content .list .item-toggle { font-size: 0.9em;  font-family: 'Lato_Bold', sans-serif !important; color:#777; font-weight:bold; background:white; }
.setting_content .list .ion-ios-arrow-right { font-size:1.6em;}

.event_detail_content h3{ margin-top:35px; font-family: 'Lato_Regular' !important; margin-bottom: 14px;}
.event_detail_content .location{ border:0px; height:30px; margin-top:10px; line-height:0px; font-size: 1em; margin-left: 10px; text-align: center; }
.event_detail_content .button_row{ color:#333; width:80%; margin-left:10%; text-align: center; margin-top:10px;}
.event_detail_content .button_row .icon { font-size:3em;}
.event_detail_content .address{ font-family: 'Lato_Light', sans-serif; font-size: 1.2em; margin-right: 10px;}
.event_detail_content .divider{ font-family: 'Lato_Regular' !important; margin-top: 15px; font-size:1.2em; border:0px; border-bottom:1px solid #ddd; font-weight:bold; }
.event_detail_content .divider1{ font-family: 'Lato_Regular' !important;font-size:1.2em; border:0px; border-bottom:0px solid #ddd; font-weight:bold; }
.event_detail_content .value { font-family: 'Lato_Light', sans-serif; font-size: 1em; margin-top:0px; border:0px; white-space:normal; padding-top:0px; padding-bottom:0px; margin-left:-7px;}
.event_detail_content .e_logo .img_div{ margin-top:35px; border:1px solid #999; border-radius: 50%; width:150px; height:150px; background-position: center center; background-size: 125% 125%; margin-left:20px;}
.event_detail_content .item-note { float: right; }

.lightfont { font-family: 'Lato_Light', sans-serif;  }
.photos_content { padding-left:4px; padding-right:4px;}
.notification_content .item{white-space:normal; font-family: 'Lato_Light', sans-serif; padding-top: 0px; padding-bottom: 0px; }
.notification_content .item-note{ position:absolute; top:5px; right:18px; color: #aaa; font-size: 11px;}
.notification_content img{ width:80px; height:80px; padding-left:5px;}
.toggle-icon{background-color: #348c7f !important;}


