page-forgotpassword {

    .item-input {
        padding: 0px;
        
        input {
            border-radius: 4px;
            border: solid;
            border-width: 1px;
            border-color: #aaa;
        }
    }
    .button {
        border-width: 1px !important;
        border-radius: 4px !important;
        border-width: 1px;
        border-color: #348c7f;
        background: transparent;
        color: #348c7f;
    }
}
