<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      <img src="assets/img/Logo1.png" class="logo1"/>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="notification_content">
  <ion-list>
    <ion-item no-padding   *ngFor="let item of notificationList" detail-push>
      <li class="item item-icon-right" *ngIf="item.isWhat=='gallery'" (click)="goGallery(item)">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy $index"/>
        <span class="item-note">
          {{item.date}}
        </span>
        <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
      </li>
      <li class="item item-icon-right" *ngIf="item.isWhat=='event'" (click)="goEvent(item)">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy  $index"/>
        <span class="item-note">
          {{item.date}}
        </span>
        <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
      </li>
      <li class="item item-icon-right" *ngIf="item.isWhat=='nothing'">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy  $index"/>
        <span class="item-note">
          {{item.date}}
        </span>
        <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
      </li>
    </ion-item>
  </ion-list>
</ion-content>
