page-notifications {
    ion-content{
        button {
            width: 100%;
            background-color: white;
        }
    }
    $item-md-detail-push-show: true;
    $item-wp-detail-push-show: true;
}
