<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
        <ion-icon name="menu" style="font-size: 3rem;"></ion-icon>
      </button>
    <ion-title>
      <img src="assets/img/Logo1.png" class="logo1"/>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="notification_content">
  <ion-list>
    <div *ngFor="let item of notificationList">
      <button *ngIf="item.isWhat=='gallery'" (click)="goGallery(item)">
        <ion-item no-padding detail-push>
        <li class="item item-icon-right">
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
          <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy $index"/>
          <span class="item-note">
            {{item.date}}
          </span>
          <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
        </li>  
      </ion-item>
      </button>
      <button *ngIf="item.isWhat=='event'" (click)="goEvent(item)">
        <ion-item no-padding detail-push>
          <li class="item item-icon-right">
            <h2>{{item.title}}</h2>
            <p>{{item.description}}</p>
            <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy  $index"/>
            <span class="item-note">
              {{item.date}}
            </span>
            <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
          </li>
        </ion-item>
      </button>
      <button *ngIf="item.isWhat=='nothing'">
        <ion-item no-padding>
          <li class="item item-icon-right">
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
          <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy  $index"/>
          <span class="item-note">
            {{item.date}}
          </span>
          <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
        </li>
        </ion-item>
      </button>
    </div>
    <!--<ion-item no-padding   *ngFor="let item of notificationList" detail-push>
      <li class="item item-icon-right" *ngIf="item.isWhat=='gallery'" (click)="goGallery(item)">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy $index"/>
        <span class="item-note">
          {{item.date}}
        </span>
        <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
      </li>
      <li class="item item-icon-right" *ngIf="item.isWhat=='event'" (click)="goEvent(item)">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy  $index"/>
        <span class="item-note">
          {{item.date}}
        </span>
        <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
      </li>
      <li class="item item-icon-right" *ngIf="item.isWhat=='nothing'">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
        <img src="{{isrc}}" *ngFor="let isrc of item.images; trackBy  $index"/>
        <span class="item-note">
          {{item.date}}
        </span>
        <i class="icon  ion-ios-arrow-right" style="font-size:1em; color:#999"></i>
      </li>
    </ion-item>-->
  </ion-list>
</ion-content>
